.navbar-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid rgb(212, 205, 205);
}
.navbar-center-left{
    margin: 0 20px;
}
.navbar-center-right{
    display: flex;
    align-items: center;
}
.search{
    display: flex;
    align-items: center;
    margin: 5px 7px;
    width: 400px;
}
.search input{
    width: 100%;
    height: 32px;
    padding: 20px 15px;
    border: 1px solid rgb(212, 205, 205);
}
.search img{
    width: 20px;
    position: relative;
    right: 35px;
}
.account img{
    border: 1px solid rgb(212, 205, 205);
    padding: 5px 5px;
    border-radius: 5px;
    margin: 5px 20px;
}
.basket img{
    border: 1px solid rgb(212, 205, 205);
    padding: 5px 5px;
    margin: 5px 20px;
    border-radius: 5px;
}
.number{
    color: white;
    display: block;
    text-align: center;
    position: absolute;
    background-color: rgb(70, 180, 70);
    width: 25px;
    height: 25px;
    right: 30px;
    top: 60px;
    border-radius: 5px;
}