.navbar-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid rgb(212, 205, 205);
}
.navbar-center a{
    text-decoration: none;
    color: black;
}
.navbar-center-left{
    margin: 0 20px;
}
.navbar-center-left img{
    width: 240px;
}
.navbar-center-right{
    display: flex;
    align-items: center;
}
.search{
    display: flex;
    align-items: center;
    margin: 5px 7px;
    width: 400px;
}
.search input{
    width: 100%;
    height: 32px;
    padding: 20px 15px;
    border: 1px solid rgb(212, 205, 205);
}
.search img{
    width: 20px;
    position: relative;
    right: 35px;
}
.account img{
    border: 1px solid rgb(212, 205, 205);
    padding: 5px 5px;
    border-radius: 5px;
    margin: 5px 20px;
}
.basket-image{
    border: 1px solid rgb(212, 205, 205);
    padding: 5px 5px;
    margin: 5px 20px;
    border-radius: 5px;
}
.number{
    color: white;
    display: block;
    text-align: center;
    position: absolute;
    background-color: rgb(70, 180, 70);
    width: 25px;
    height: 25px;
    right: 30px;
    top: 60px;
    border-radius: 5px;
}
.basket-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background-color: rgb(253, 252, 252);
    display: block;
    z-index: 100; 
    box-shadow: 0 0 15px 0 rgba(73, 70, 70, 0.623);
}

.basket-close-btn {
    position: fixed;
    right: 10px;
    top: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.basket-close-btn img{
    border: 0;
}
.basket-menu-position {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 30px;
    border: 1px solid rgb(207, 186, 186);
}
.basket-menu-img{
    width: 75px;
    height: 75px;
    margin: 10px 0;
}
.basket-menu-position img{
    border: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.basket-menu-position p{
    margin: 0 10px;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.basket button {
    background: none;
    border: none;
    cursor: pointer;
}
.basket-menu-hidden {
    display: none;
}


@media (max-width: 1200px) { 
    .navbar-center-left img{
        width: 200px;
    }
    .search{
        width: 250px;
    }
    .search input{
        width: 100%;
    }
    .search img{
        width: 15px;
    }
    .account img{
        width: 40px;
        margin: 5px 10px;
    }
    .basket-image{
        width: 40px;
        margin: 5px 10px;
    }
    .number{
        right: 20px;
    }
    .basket-menu {
        font-size: 1rem;
    }
    .basket-close-btn img{
        width: 20px;
    }

    .basket-menu {
        width: 50%;
    }
}
@media (max-width: 768px) { 
    .navbar-center-left img{
        width: 125px;
    }
    .search{
        display: none;
    }
    .account img{
        width: 30px;
        margin: 5px 10px;
    }
    .basket-image{
        width: 30px;
        margin: 5px 10px;
    }
    .number{
        width: 20px;
        height: 20px;
        right: 20px;
        top: 55px;
    }
    .basket-menu {
        width: 100%;
    }
    .basket-menu {
        font-size: .8rem;
    }
 }