.signups{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 20px 0;
}
.signups img{
    margin: 25px;
}
.signup-form{
    border: 1px solid rgb(218, 211, 211);
    padding: 10px 50px;
  
}
.items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.items2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.items2 input{
    width: 15px;
    height: 15px;
    margin-right:5px;
}
.items2 label{
    margin-right: 5px;
}
.gender{
    display: flex;
    align-items: center;
    justify-content: center;
}
.items input{
    width: 320px;
    height: 40px;
    margin: 20px 0;
    padding: 0 10px;
}
.signup-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cancel{
    width: 210px ;
    height: 40px;
    border: 0;
    background-color: rgb(199, 192, 192);
    color: white;
    font-size: 22px;
    margin: 20px 10px;
}
.accept{
    width: 210px ;
    height: 40px;
    border: 0;
    background-color: rgb(59, 197, 59);
    color: white;
    font-size: 22px;
    margin:20px 10px;
}

@media (max-width: 575.98px) { 
    .signups{
        margin:0;
    }
    .signups img{
        margin: 15px;
        width: 150px;
    }
    .items span{
        font-size: 15px;
        margin-right: 20px;
    }
    .signup-form{
        padding: 10px 20px;
    }
    .signup-form h1{
        font-size: 25px;
        margin: 20px 0;
    }
    .items2 input{
        width: 12px;
        height: 12px;
        margin-right:3px;
    }
    .items2 label{
        font-size: 10px;
        margin-right: 3px;
    }
    .items2 span{
        font-size: 15px;
    }
    .items input{
        width: 200px;
    }
    .cancel{
        width: 120px ;
        height: 40px;
        border: 0;
        background-color: rgb(199, 192, 192);
        color: white;
        font-size: 22px;
        margin:10px 0;
    }
    .accept{
        width: 120px ;
        height: 40px;
        border: 0;
        background-color: rgb(59, 197, 59);
        color: white;
        font-size: 22px;
        margin:10px 0;
    }
    
 }
