.product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 5%;
}
.product-img{
    border: 1px solid rgb(212, 202, 202);

    padding: 50px;
}
.product-img img{
    width: 100%;
    height: 400px;
    object-fit: contain;
}
.product-detail{
    margin: 0 50px;
    text-align: center;
}
.product-detail h1{
    font-size: 40px;
    margin: 10px 0;
}
.product-detail h3{
    font-size: 30px;
    margin: 10px 0;
}
.product-category{
    display: flex;
    align-items: center;
    font-weight: bold;
}
.product-category p{
    margin: 8px;
    
}
.product-btn{
    width: 100%;
    height: 50px;
    border: 0;
    color: white;
    font-size: 25px;
    background-color: rgb(21, 190, 21);
    cursor: pointer;
}
.product-counter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}
.product-counter p{
    width: 100%;
    font-size: 25px;
}
.product-counter-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 50px;
    border: 0;
    background-color: rgb(219, 208, 208);
    font-size: 30px;
    color: white;
    cursor: pointer;
}

@media (max-width: 991.98px) {
    .product{
        grid-template-columns: 1fr;
    }
    .product-img img{
        height: 200px;
    }
}
@media (max-width: 767.98px) {
    .product-img img{
        height: 300px;
    }
    .product-detail h1{
        font-size: 20px;
    }
    .product-detail h3{
        font-size: 15px;
    }
    .product-btn{
        height: 40px;
        font-size: 25px;
    }
    .product-counter p{
        font-size: 20px;
    }
    .product-counter-btn{
        width: 30%;
        height: 40px;
        font-size: 25px;
    }
    .product-category{
        font-size: 14px;
    }
    .product-img{
        margin: 0 20px;
    }
    .product-detail{
        margin: 0 20px;
    }
}
@media (max-width: 575.98px) {
    .product-img img{
        height: 200px;
    }
}

