.slider-container {
    position: relative;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(170, 166, 166);
    color: white;
    text-align: center;
  }
  
  .slide {
    width: 80%;
    display: flex;
  }
  .slide-text,
  .slide-image {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
  }
  .slide-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
  }
  .slide-text *{
    margin: 10px 0;
  }
  .slide-image img {
    max-width: 100%;
    display: block;
  }
  
  .slide-button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
  }
  
  .control-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
  }
  
  .control-button.prev {
    font-size: 40px;
    background-color: transparent;
    left: 0;
  }
  
  .control-button.next {
    font-size: 40px;
    background-color: transparent;
    right: 0;
  }

@media (max-width: 575.98px) { 
 
 }

@media (max-width: 767.98px) { 
  .slide{
    flex-direction: column;
  }
  .slide-image img {
    max-width: 80%;
  }
 }

@media (max-width: 991.98px) { 
  .slide-text h2{
    font-size: 20px;
  }
  .slide-text p{
    font-size: 15px;
  }
 }

